extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Active Users
  each user in users
    p
      b #{user.nickname}
      span # #{user.triphash}

  h2 Active Games
  each game in games
    p
      b #{game}
